.newPassword {
  width: 400px;
  font-size: 22px;

  margin-top: 50px;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px gray solid;

  &__form {
    margin-left: 15px;
    &--newPass,
    &--confirm {
      margin-bottom: 10px;
      h3 {
        margin: 0;
        padding: 0;
        color: #284791;
        margin-bottom: 10px;
        font-size: 22px;
      }

      input {
        margin: 0;
        padding: 0;
        margin-bottom: 25px;

        padding: 5px;
        border-radius: 5px;
        border: 1px gray solid;

        height: 25px;
        width: 280px;
        font-size: 16px;
      }
    }

    &--confirm {
      margin-bottom: 0;
    }

    &--showPass {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      align-items: center;
      font-size: 16px;
      gap: 5px;
      margin-bottom: 40px;

      accent-color: #284791;
    }

    button {
      width: 180px;
      background-color: #284791;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;

      cursor: pointer;
    }
  }
}
