.dashboardFlex {
  display: flex;
  gap: 140px;
  margin-top: 20px;
  width: fit-content;

  margin-left: auto;
  margin-right: auto;

  .L-Block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .R-Block {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
